<div id="shopcart" class="modal">
    

   <div class="modal-content">
      <span class="close" (click)="Myspan()">&times;</span>
      <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="row">
                  <div class="col-xs-6">
                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="Myspan()">
                      <span class="glyphicon glyphicon-share-alt"  ></span> Continue shopping
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row" *ngFor= 'let product of prodshop'>
                <div class="col-xs-2"><img class="img-responsive" [src]="product? product.imgUrl : null">
                  <br><br>
                </div>
                <div class="col-xs-4">
                  <h4 class="product-name"><strong> {{product? product.productName : null}}</strong>
                  </h4><h4><small></small></h4>
                </div>
                <div class="col-xs-6">
                  <div class="col-xs-6 text-right">
                    <h6><strong>{{product? product.price: null}} <span class="text-muted">x</span></strong></h6>
                  </div>
                  <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" value="1">
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="btn btn-link btn-xs" (click)='delete(product.idpr,login)'>
                      <span class="glyphicon glyphicon-trash"> </span>
                    </button>
                  </div>
                </div>
              
              </div>
              
              <div class="row">
                <div class="text-center">
                  
                 
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row text-center">
                <div class="col-xs-9">
                  <h4 class="text-right">Total <strong>{{checkout}}</strong></h4>
                </div>
                <div class="col-xs-3">
                  <button type="button" class="btn btn-success btn-block"  [routerLink]="['/pay',checkout,login]" >
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     </div>
</div>
<router-outlet></router-outlet>