
<router-outlet></router-outlet>
<div id="zoom" class="modal">
  
    <!-- Modal content -->
    <div class="modal-content">
    <span class="close" (click)="Myspan()">&times;</span>
    <div class="container">
        <div class="row">
           <div  class="col-md-4 item-photo">
            
            <img  [src]="produitzoom? produitzoom.imgUrl : null" style="width:360px;height:650px;">
            
          </div>

          <div class="col-md-6" style="border:0px solid rgba(163, 152, 152, 0.856)">
            <span class="pull-right">
            <!-- Datos del vendedor y titulo del producto -->
            <h1>
                {{produitzoom? produitzoom.productName : null}}
               </h1>    
            <h4 style="color:#337ab7">  {{produitzoom? produitzoom.author : null}} <small style="color:#337ab7"></small></h4>
      
            <!-- Precios -->
            <h2 class="title-price"><small>Price</small></h2>
            <h3 style="margin-top0px"> {{produitzoom? produitzoom.price : null}} $</h3>
            <br> <br>
      
            <!-- Detalles especificos del producto -->
            <div class="section" style="background:rgb(222, 228, 222);">
              <h5 class="title-attr" >                  
              <div>
                <br>
                {{produitzoom? produitzoom.description : null}}
              <br> <br>
              </div>
            </h5>  
            </div>
            <br><br> 
            <!-- Botones de compra -->    	
                  <script>
                  console.log("Test of value : " + JSON.stringify(produitzoom))
                  </script>
                    <button class="btn  btn-success right" (click)='check(produitzoom? produitzoom.idpr : null)' >
                      <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                    </button>	
          </span>                                      
          <br> <br>      <br> <br>                        
            <ul class="menu-items">
            
              <li class="active">Customers Reviews</li>
              
            </ul>

            <div style="width:100%;border-top:1px solid silver">
              
              
              
    						<div class="widget-area no-padding blank">
                  <br>   
                  <div class="status-upload">
                      <div>
                        <textarea placeholder="What do you think about the book ? " rows="4" cols="70" [(ngModel)]='Comment' ></textarea>
                        
                        <button type="submit" class="btn btn-success green" (click)='add()'><i class="fa fa-share"></i> ADD a comment</button>
                      </div>
                    </div><!-- Status Upload  -->
                  </div><!-- Widget Area --> 

                  <br> <br>
             
                  <app-comment [id]='currentId'></app-comment>
           

             
              
            </div>
          </div>		
        </div>
      </div> 
    </div>
  
    
  </div>
