
<div class="container">
	<div class="row">
		<!-- BEGIN PRODUCTS -->
		
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
          <img  (click)="myZoom()"src="https://decitre.di-static.com/img/475x500/daniel-keyes-des-fleurs-pour-algernon/9782290032725FS.gif" alt="..."width="200"height="250">
      			<h4>Des fleurs pour Algernon</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Algernon est une souris dont le traitement du Pr Nemur et du Dr Strauss vient de décupler l'intelligence </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">6,90€</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" (click)="myLogin1()" ><span  class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Ajouter au Panier</button>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		
  		<!-- END PRODUCTS -->
	</div>
</div>