<article class="row" *ngFor= 'let comment of tabcomment'>

    <div class="col-md-2 col-sm-2 hidden-xs"  >
      <figure class="thumbnail">
        <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
        <figcaption class="text-center">USER</figcaption>
      </figure>
    </div>
    <div class="col-md-10 col-sm-10">
      <div class="panel panel-default arrow left">
        <div class="panel-body">
          <header class="text-left">
           
          </header>
          <div class="comment-post">
            <p>
                
                {{comment.body}}
            </p>
          </div>
         
        </div>
      </div>
    </div>
  </article> 
